.signUpForm {
    margin: 15px;
    padding: 30px;
    width: 700px;
    // border: 2px solid red;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    margin: 0 auto;
    border-radius: 10px;
    font-family: arial, sans-serif;
    
    &__heading {
      font-size: 1.7em;
      font-weight: 600;
      color: red;
      margin-bottom: 30px;
      text-align: center;
    }
    
    &__form {
      margin: 0 auto 10px;
      
      input {
        // gap: 3px;
        border: 2px solid red;
        border-radius: 5px;
        width: 40%;
        padding: 10px;
        &::placeholder {
          color: rgb(240, 120, 120);
        }
      }
      
      button {
        width: 47%;
        background-color: red;
        color: white;
        padding: 10px;
        font-weight: 700;
        border-radius: 5px;
      }
    }
    
    &__disclaimer {
      font-size: 0.8em;
      font-style: italic;
      color: #999;
      
      span {
        color: red;
      }
    }
}